.rowContainer {
  position: inherit;
  padding: 5px;
  padding-right: 25px;
  padding-bottom: 2px;
  border: 4px solid transparent;
  width: 280px;
  min-height: 35px;
  word-wrap: break-word;
  color:black;
}
.button {
  position: absolute;
  top: 6px;
  right: 10px;
  background-color:rgba(128, 128, 128, 0.308);
  border: 2px solid black;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.button:hover {
  cursor: pointer;
  background-color:rgba(128, 128, 128, 0.208);
}

.button span {
  display: block;
  position: absolute;
  top:-3px;
  left: -0.2px;
  font-size: 20px;
}

.rowContainer:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hover:hover {
  opacity: 0;
  /* ниже запасные свойства, если opacity не сработает */
  color: transparent;
  border: 4px dashed lightgrey;
}