.hover:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.base {
  color: rgb(59, 180, 65);
  background-color: rgb(210, 246, 212);
  z-index: -1;
  opacity: 0.9; 
}

.base button {
  color: rgb(59, 180, 65);
  border: 2px solid rgb(59, 180, 65);
}